
  <% @posts.each do |post| %>
  <div class="your-posts"  value="<%=post.id%>" data-id="<%=post.id%>">
    <p><%= post.title %></p>
    <%#= button_to "delete", post, method: :delete %>
    <button id="delete-<%=post.id%>" data-id="<%=post.id%>">delete</button>
  <% end %>

  <%= form_for @post do |f| %>
    <%= f.label :title, :class => 'control-label' %>
    <%= f.text_field :title, :class => 'text_field' %>
   
    <%= f.submit "Create" %>
    </div>
  <% end %>

<div>////////////////////////////////////////////////////////////////////////</div>

<div class="p-post-title"></div>