<div class="box100">
<div class="boxextra">

  <div class="post1">
  <div class="your-posts">
    <div class="your-posts-inner">
      <%= form_for @post do |f| %>
        <%= f.label :title, :class => 'control-label' %>
        <%= f.text_field :title, :class => 'text_field', placeholder: 'YOUR TITLE' %>
         <%= f.submit "ADD IMAGES" ,:class => 'button_field' %>
      <% end %>
      </div>
    </div>
    <% @posts.each do |post| %>
      
      <div class="your-posts"  value="<%=post.id%>" data-id="<%=post.id%>">
        <div class="your-posts-inner">
          <div class="post-bar">
            <div class="title-box">
              <p class="title-post"><%= post.title %></p>
            </div>
            <div class="likes"id="amout-likes-js"> 
              <% if post.votes.count %>
               <div class="like-count-js"><%= post.votes.count %></div>
              <% end %>
            </div>
          </div>
          <% if post.images.first %>  
          <div class="image-style">
            <%= image_tag post.images.last.avatar.url%>
          </div>
          <% end %>
          <div class="delete-div"><button  class="delete-post" id="delete-<%=post.id%>" data-id="<%=post.id%>">delete</button></div>
          
        </div>
      </div> 
    <% end %> 
    </div>
    
 
 </div>
</div>