
<div class="box100">
  <!-- filter form -->
  <!-- <form class="form-control">
  Search filter:<br>
  <input type="text" name="seach">
  <br> -->
<!-- 
  <div class="post-template"> -->
  <div class=" post1">
    <% @posts.each do |post| %>
      <div class="post" value="<%=post.id%>" data-id="<%=post.id%>">
        <div class="post-bar">
          <div class="title-box">
            <p class="title-post"><%= link_to " #{post.title}", post_path(post.id), :class =>  "title-post" %></p>
          </div>
          <div class="user-box"><class="user-post"p>By <%= post.user.name%></p></div>
          <div class="likes"id="amout-likes-js"> 
            <% if post.votes.count %> 
             <div class="like-count-js"><%= post.votes.count %></div>
            <% end %>
          </div>
          <!-- <button class="like-js like-button" data-id="post.id">LIKE</button> -->
            <!-- post title -->
        </div>
        <h2 class="title line-on-right"></h2>
        <%#= button_to "create", vote, method: :create %>
        <% if post.images.first %>  
        <div class="image-style">
            <%= image_tag post.images.last.avatar.url%>
        </div>
        <% end %>
        
        <button class="like-js like-button" data-id="post.id">LIKE</button>
        <div id="link-my-post"><%= link_to "POST COMMENT", post_path(post.id) %></div>
        <div id="link-my-post"><%= link_to "COMMENTS", post_path(post.id) %></div>
        

    <!--     <h2 class="title line-on-right"></h2> -->

    
      </div>
    <%end %>

  <%# @images.each do |image| %>
    <%#= image[:tempfile] %>
  <%#end %>

  </div>
  </div>
</div>

