
<div class="box100">
  <!-- filter form -->
  <form class="form-control">
  Search filter:<br>
  <input type="text" name="seach">
  <br>
  <div class="post-template">
  <div class="box post1">
    <% @posts.each do |post| %>
      <div class="post" value="<%=post.id%>" data-id="<%=post.id%>">
        <div class="post-bar">
          <div class="title-box">
            <p class="title-post"><%= post.title %></p>
          </div>
          <div class="likes"id="amout-likes-js"> 
            <% if post.votes.count %>
             <div class="like-count-js"><%= post.votes.count %></div>
            <% end %>
          </div>
          <!-- <button class="like-js like-button" data-id="post.id">LIKE</button> -->
            <!-- post title -->
        </div>
        <h2 class="title line-on-right"></h2>
        <%#= button_to "create", vote, method: :create %>
        <% if post.images.first %>  
        <div class="image-style">
            <%= image_tag post.images.last.avatar.url%>
        </div>
        <% end %>
        <button class="like-js like-button" data-id="post.id">LIKE</button>
        <div id="link-my-post"><%= link_to "view post", post_path(post.id) %></div>
        <% if post.user %>  
          <p><%= post.user.name%></p>
        <% end %>
        <h3>Add comment</h3>
        <button class="new-comment-js">New comment</button>
        <div class="comment-form">
        <%= form_for @comment do |f| %>
          <%= f.text_field :title %>
          <%= f.text_field :text %>
          <%= f.hidden_field :post_id, value: post.id %>
          <%= f.submit "Create" %>
        <% end %>
        </div>
        <h3>Comments
          <p class="ajax-comments"></p>
        </h3>
        <!-- comments -->
        <% post.comments.each do |comment| %>
          <p>
            <p>User =<%= comment.user.name %></p>
            <strong class="comment-title-js">
              <%= comment.title %>
            </strong> 
            <%= comment.text %>
          </p>
        <% end %>
      </div>
    <% end %>

  <%# @images.each do |image| %>
    <%#= image[:tempfile] %>
  <%# end %>

  </div>
  </div>
</div>

