<div class="log-in-box">
  <h2 class="sign-up-text">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field text-font">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => "box-style-log-in" %>
    </div>

    <div class="field text-font">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "off",:class => "box-style-log-in" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field text-font">
        <%= f.check_box :remember_me, :class => "sign-up-botton" %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions ">
      <%= f.submit "Log in" , :class => "sign-up-botton"%>
    </div>
  <% end %>

</div>
<%= render "devise/shared/links" %>

