

<div class="box box100">

      <div class="above-line-show">
        <div class="title-show">
          <%= @post.title %> 
        </div> 
        <div class="user-show">By <%= @post.user.name %></div>
         <div class="show-created-at"> 
          <%#=  (Time.now - @post.created_at.to_time)/1.hour.to_i.round(1) %>
        </div>
        <div class="like-show">
          <%=@post.votes_count %>
        </div>
      </div> 

      <div class="box50 box box50-show">
        <% @post.images.each do |image| %>
         <div class="post" value="<%=image.post.id%>" data-id="<%=image.post.id%>">
           <div class="image-show-page" ><%= image_tag image.avatar.url%></div>  
        </div>
      
      <div class="comment-form" value="<%=image.post.id%>" data-id="<%=image.post.id%>">
      </div>
        <% end %>
      </div>

      <div class="box box30 comment-box">
        <div class="title-post-box">COMMENTS</div>
        <!-- <button class="new-comment-js" >New comment</button> -->
         <%= form_for @comment do |f| %>
           <%= f.text_field :title , class: "commit-comment"%>
           <%#= f.text_field :text %>
           <%#= f.hidden_field :post_id, value: image.post.id %>
           <%= f.submit "Create" ,class: "create-comment" %>
         <% end %>
      <div id="comments-scroll">
        <h3><p class="ajax-comments"></p></h3>
        <!-- comments -->
        <% @post.comments.each do |comment| %>
          <p>
            <p><i class="fa fa-comment-o"></i> <%= comment.user.name %> @<%= comment.user.country %>
            <%= comment.created_at %></p>
            <strong id="comment-title-js">
              <%= comment.title %>
            </strong> 
            <%= comment.text %>
          </p>
        <% end %>
      </div><!--End post class-->
    </div>
</div>